.dropdown {
    position: relative;
    display: inline-block;
    
  }
  .dropbtn{
      display: flex;
  }

  .dropbtn:hover{
      background-color:red;
      cursor: pointer;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 100px;
    min-height:80px;
    /* padding: 4px 16px; */
    z-index: 1;
  }
  
  .dropdown-content li:hover {
      text-decoration-line: underline;
      cursor: pointer;
    }
  

.dropdown:hover .dropdown-content {
  display: block;
}

/* img{
    width: 1vw;
    height: 5vh;
} */